<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>bubu-</title>
    <link rel="stylesheet" href="../../resources/bootstrap-4.2.1/css/bootstrap.css">
    <script src="../../resources/jquery/jquery-1.10.2.js"></script>
    <script src="../../resources/bootstrap-4.2.1/js/bootstrap.js"></script>
    <script src="../../resources/custom/user/signin.js"></script>

</head>
<body>
<div class="container mt-5">
    <div class="card rounded-0 m-auto border" style="max-width: 18rem;">
        <div class="card-body">
            <div class="form-signin">
                <img class="mb-4" src="" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" value="891511545@qq.com" id="inputEmail" class="form-control rounded-0" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" value="123456" id="inputPassword" class="form-control rounded-0 mt-1" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <button type="button" class="btn btn-link float-right text-info">忘记密码</button>
                </div>
                <button class="btn btn-lg btn-info btn-block rounded-0" type="submit">注册</button>

            </div>
        </div>
        <div class="card-footer"><button type="button" class="btn btn-link text-info">登录</button></div>
    </div>
    <div class="text-muted m-auto mt-lg-5" style="max-width: 18rem;">&copy; 2019</div>
</div>
</body>
</html>