<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.com.bubu.main.mapper.dao.YhBeanMapper">
  <resultMap id="BaseResultMap" type="code.com.bubu.main.bean.YhBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sj" jdbcType="CHAR" property="sj" />
    <result column="yx" jdbcType="VARCHAR" property="yx" />
    <result column="mm" jdbcType="VARCHAR" property="mm" />
    <result column="nc" jdbcType="VARCHAR" property="nc" />
    <result column="xb" jdbcType="INTEGER" property="xb" />
    <result column="lx" jdbcType="INTEGER" property="lx" />
    <result column="jsxx" jdbcType="INTEGER" property="jsxx" />
    <result column="jsyxtz" jdbcType="INTEGER" property="jsyxtz" />
    <result column="grms" jdbcType="VARCHAR" property="grms" />
    <result column="zskg" jdbcType="INTEGER" property="zskg" />
    <result column="zsms" jdbcType="VARCHAR" property="zsms" />
    <result column="txtp" jdbcType="VARCHAR" property="txtp" />
    <result column="zcsj" jdbcType="VARCHAR" property="zcsj" />
    <result column="dlsj" jdbcType="VARCHAR" property="dlsj" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sj, yx, mm, nc, xb, lx, jsxx, jsyxtz, grms, zskg, zsms, txtp, zcsj, dlsj
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_yh
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_yh
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="code.com.bubu.main.bean.YhBean">
    insert into t_sys_yh (id, sj, yx, mm, 
      nc, xb, lx, jsxx, 
      jsyxtz, grms, zskg, 
      zsms, txtp, zcsj, dlsj
      )
    values (#{id,jdbcType=INTEGER}, #{sj,jdbcType=CHAR}, #{yx,jdbcType=VARCHAR}, #{mm,jdbcType=VARCHAR}, 
      #{nc,jdbcType=VARCHAR}, #{xb,jdbcType=INTEGER}, #{lx,jdbcType=INTEGER}, #{jsxx,jdbcType=INTEGER}, 
      #{jsyxtz,jdbcType=INTEGER}, #{grms,jdbcType=VARCHAR}, #{zskg,jdbcType=INTEGER}, 
      #{zsms,jdbcType=VARCHAR}, #{txtp,jdbcType=VARCHAR}, #{zcsj,jdbcType=VARCHAR}, #{dlsj,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="code.com.bubu.main.bean.YhBean">
    insert into t_sys_yh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sj != null">
        sj,
      </if>
      <if test="yx != null">
        yx,
      </if>
      <if test="mm != null">
        mm,
      </if>
      <if test="nc != null">
        nc,
      </if>
      <if test="xb != null">
        xb,
      </if>
      <if test="lx != null">
        lx,
      </if>
      <if test="jsxx != null">
        jsxx,
      </if>
      <if test="jsyxtz != null">
        jsyxtz,
      </if>
      <if test="grms != null">
        grms,
      </if>
      <if test="zskg != null">
        zskg,
      </if>
      <if test="zsms != null">
        zsms,
      </if>
      <if test="txtp != null">
        txtp,
      </if>
      <if test="zcsj != null">
        zcsj,
      </if>
      <if test="dlsj != null">
        dlsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        #{sj,jdbcType=CHAR},
      </if>
      <if test="yx != null">
        #{yx,jdbcType=VARCHAR},
      </if>
      <if test="mm != null">
        #{mm,jdbcType=VARCHAR},
      </if>
      <if test="nc != null">
        #{nc,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        #{lx,jdbcType=INTEGER},
      </if>
      <if test="jsxx != null">
        #{jsxx,jdbcType=INTEGER},
      </if>
      <if test="jsyxtz != null">
        #{jsyxtz,jdbcType=INTEGER},
      </if>
      <if test="grms != null">
        #{grms,jdbcType=VARCHAR},
      </if>
      <if test="zskg != null">
        #{zskg,jdbcType=INTEGER},
      </if>
      <if test="zsms != null">
        #{zsms,jdbcType=VARCHAR},
      </if>
      <if test="txtp != null">
        #{txtp,jdbcType=VARCHAR},
      </if>
      <if test="zcsj != null">
        #{zcsj,jdbcType=VARCHAR},
      </if>
      <if test="dlsj != null">
        #{dlsj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="code.com.bubu.main.bean.YhBean">
    update t_sys_yh
    <set>
      <if test="sj != null">
        sj = #{sj,jdbcType=CHAR},
      </if>
      <if test="yx != null">
        yx = #{yx,jdbcType=VARCHAR},
      </if>
      <if test="mm != null">
        mm = #{mm,jdbcType=VARCHAR},
      </if>
      <if test="nc != null">
        nc = #{nc,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        xb = #{xb,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        lx = #{lx,jdbcType=INTEGER},
      </if>
      <if test="jsxx != null">
        jsxx = #{jsxx,jdbcType=INTEGER},
      </if>
      <if test="jsyxtz != null">
        jsyxtz = #{jsyxtz,jdbcType=INTEGER},
      </if>
      <if test="grms != null">
        grms = #{grms,jdbcType=VARCHAR},
      </if>
      <if test="zskg != null">
        zskg = #{zskg,jdbcType=INTEGER},
      </if>
      <if test="zsms != null">
        zsms = #{zsms,jdbcType=VARCHAR},
      </if>
      <if test="txtp != null">
        txtp = #{txtp,jdbcType=VARCHAR},
      </if>
      <if test="zcsj != null">
        zcsj = #{zcsj,jdbcType=VARCHAR},
      </if>
      <if test="dlsj != null">
        dlsj = #{dlsj,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="code.com.bubu.main.bean.YhBean">
    update t_sys_yh
    set sj = #{sj,jdbcType=CHAR},
      yx = #{yx,jdbcType=VARCHAR},
      mm = #{mm,jdbcType=VARCHAR},
      nc = #{nc,jdbcType=VARCHAR},
      xb = #{xb,jdbcType=INTEGER},
      lx = #{lx,jdbcType=INTEGER},
      jsxx = #{jsxx,jdbcType=INTEGER},
      jsyxtz = #{jsyxtz,jdbcType=INTEGER},
      grms = #{grms,jdbcType=VARCHAR},
      zskg = #{zskg,jdbcType=INTEGER},
      zsms = #{zsms,jdbcType=VARCHAR},
      txtp = #{txtp,jdbcType=VARCHAR},
      zcsj = #{zcsj,jdbcType=VARCHAR},
      dlsj = #{dlsj,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="code.com.bubu.main.bean.YhBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sj" jdbcType="INTEGER" property="sj" />
    <result column="yx" jdbcType="VARCHAR" property="yx" />
    <result column="mm" jdbcType="VARCHAR" property="mm" />
    <result column="nc" jdbcType="VARCHAR" property="nc" />
    <result column="xb" jdbcType="INTEGER" property="xb" />
    <result column="lx" jdbcType="INTEGER" property="lx" />
    <result column="jsxx" jdbcType="INTEGER" property="jsxx" />
    <result column="jsyxtz" jdbcType="INTEGER" property="jsyxtz" />
    <result column="grms" jdbcType="VARCHAR" property="grms" />
    <result column="zskg" jdbcType="INTEGER" property="zskg" />
    <result column="zsms" jdbcType="VARCHAR" property="zsms" />
    <result column="txtp" jdbcType="VARCHAR" property="txtp" />
    <result column="zcsj" jdbcType="VARCHAR" property="zcsj" />
    <result column="dlsj" jdbcType="VARCHAR" property="dlsj" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sj, yx, mm, nc, xb, lx, jsxx, jsyxtz, grms, zskg, zsms, txtp, zcsj, dlsj
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_yh
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_yh
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="code.com.bubu.main.bean.YhBean">
    insert into t_sys_yh (id, sj, yx, mm, 
      nc, xb, lx, jsxx, 
      jsyxtz, grms, zskg, 
      zsms, txtp, zcsj, dlsj
      )
    values (#{id,jdbcType=INTEGER}, #{sj,jdbcType=INTEGER}, #{yx,jdbcType=VARCHAR}, #{mm,jdbcType=VARCHAR}, 
      #{nc,jdbcType=VARCHAR}, #{xb,jdbcType=INTEGER}, #{lx,jdbcType=INTEGER}, #{jsxx,jdbcType=INTEGER}, 
      #{jsyxtz,jdbcType=INTEGER}, #{grms,jdbcType=VARCHAR}, #{zskg,jdbcType=INTEGER}, 
      #{zsms,jdbcType=VARCHAR}, #{txtp,jdbcType=VARCHAR}, #{zcsj,jdbcType=VARCHAR}, #{dlsj,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="code.com.bubu.main.bean.YhBean">
    insert into t_sys_yh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sj != null">
        sj,
      </if>
      <if test="yx != null">
        yx,
      </if>
      <if test="mm != null">
        mm,
      </if>
      <if test="nc != null">
        nc,
      </if>
      <if test="xb != null">
        xb,
      </if>
      <if test="lx != null">
        lx,
      </if>
      <if test="jsxx != null">
        jsxx,
      </if>
      <if test="jsyxtz != null">
        jsyxtz,
      </if>
      <if test="grms != null">
        grms,
      </if>
      <if test="zskg != null">
        zskg,
      </if>
      <if test="zsms != null">
        zsms,
      </if>
      <if test="txtp != null">
        txtp,
      </if>
      <if test="zcsj != null">
        zcsj,
      </if>
      <if test="dlsj != null">
        dlsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sj != null">
        #{sj,jdbcType=INTEGER},
      </if>
      <if test="yx != null">
        #{yx,jdbcType=VARCHAR},
      </if>
      <if test="mm != null">
        #{mm,jdbcType=VARCHAR},
      </if>
      <if test="nc != null">
        #{nc,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        #{xb,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        #{lx,jdbcType=INTEGER},
      </if>
      <if test="jsxx != null">
        #{jsxx,jdbcType=INTEGER},
      </if>
      <if test="jsyxtz != null">
        #{jsyxtz,jdbcType=INTEGER},
      </if>
      <if test="grms != null">
        #{grms,jdbcType=VARCHAR},
      </if>
      <if test="zskg != null">
        #{zskg,jdbcType=INTEGER},
      </if>
      <if test="zsms != null">
        #{zsms,jdbcType=VARCHAR},
      </if>
      <if test="txtp != null">
        #{txtp,jdbcType=VARCHAR},
      </if>
      <if test="zcsj != null">
        #{zcsj,jdbcType=VARCHAR},
      </if>
      <if test="dlsj != null">
        #{dlsj,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="code.com.bubu.main.bean.YhBean">
    update t_sys_yh
    <set>
      <if test="sj != null">
        sj = #{sj,jdbcType=INTEGER},
      </if>
      <if test="yx != null">
        yx = #{yx,jdbcType=VARCHAR},
      </if>
      <if test="mm != null">
        mm = #{mm,jdbcType=VARCHAR},
      </if>
      <if test="nc != null">
        nc = #{nc,jdbcType=VARCHAR},
      </if>
      <if test="xb != null">
        xb = #{xb,jdbcType=INTEGER},
      </if>
      <if test="lx != null">
        lx = #{lx,jdbcType=INTEGER},
      </if>
      <if test="jsxx != null">
        jsxx = #{jsxx,jdbcType=INTEGER},
      </if>
      <if test="jsyxtz != null">
        jsyxtz = #{jsyxtz,jdbcType=INTEGER},
      </if>
      <if test="grms != null">
        grms = #{grms,jdbcType=VARCHAR},
      </if>
      <if test="zskg != null">
        zskg = #{zskg,jdbcType=INTEGER},
      </if>
      <if test="zsms != null">
        zsms = #{zsms,jdbcType=VARCHAR},
      </if>
      <if test="txtp != null">
        txtp = #{txtp,jdbcType=VARCHAR},
      </if>
      <if test="zcsj != null">
        zcsj = #{zcsj,jdbcType=VARCHAR},
      </if>
      <if test="dlsj != null">
        dlsj = #{dlsj,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="code.com.bubu.main.bean.YhBean">
    update t_sys_yh
    set sj = #{sj,jdbcType=INTEGER},
      yx = #{yx,jdbcType=VARCHAR},
      mm = #{mm,jdbcType=VARCHAR},
      nc = #{nc,jdbcType=VARCHAR},
      xb = #{xb,jdbcType=INTEGER},
      lx = #{lx,jdbcType=INTEGER},
      jsxx = #{jsxx,jdbcType=INTEGER},
      jsyxtz = #{jsyxtz,jdbcType=INTEGER},
      grms = #{grms,jdbcType=VARCHAR},
      zskg = #{zskg,jdbcType=INTEGER},
      zsms = #{zsms,jdbcType=VARCHAR},
      txtp = #{txtp,jdbcType=VARCHAR},
      zcsj = #{zcsj,jdbcType=VARCHAR},
      dlsj = #{dlsj,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>