<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布布-kindle电子书分享网站</title>
    <link rel="stylesheet" href="../resources/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/artdialog-7.0.0/css/dialog.css">
    <link rel="stylesheet" href="../resources/mobi/css/mobi.css">
    <script src="../resources/jquery/jquery-1.10.2.js"></script>
    <script src="../resources/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="../resources/mobi/js/mobi.js"></script>
    <script src="../resources/artdialog-7.0.0/js/dialog.js"></script>

</head>
<body class="body-bg-mobi">
<nav class="navbar fixed-top navbar-mobi shadow-sm">
    <div class="container p-0">

        <ul class="nav">
            <a class="navbar-brand" href="#">布布</a>
            <li class="nav-item">
                <a class="nav-link active" href="#">排行榜</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">小说</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">经管</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">文学</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">社科</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">历史传记</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">英文原版</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">中英对照</a>
            </li>
        </ul>
    </div>

</nav>

<main role="main" class="container main-bar-fixed-top">
    <div class="row" >
        <div class="col-12 col-md-8 p-0">
            <div class="card mb-3 shadow-sm">
                <div class="card-header bg-white">
                    <h3>培养男子汉</h3>
                    <p class="m-0">分类：小说  作者：王二   浏览量  评论数</p>
                </div>
                <div class="card-body " >
                    <div class="card mb-3 bg-light">
                        <div class="row no-gutters p-2">
                            <div class="col-md-3">
                                <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img img-thumbnail" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body p-0">

                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light mb-3">
                        <div class="card-header">内容简介</div>
                        <div class="card-body">
                            <p class="card-text">
                                《恋情的终结》：格雷厄姆·格林备受推崇的代表作，这本书里有狂热的爱、狂热的恨、狂热的猜疑、狂热的嫉妒、狂热的信仰，有爱情中所有狂热的情感。关于爱情，我又想起了你……。

                                《命运的内核》：格雷厄姆·格林公认的至高杰作。《时代》杂志、兰登书屋百大英语小说。穷尽了一个人在命运中会经历的一切考验。没人能看到完整的命运，但可以守护一个完整的自己。

                                《人性的因素》：被马尔克斯誉为完美的小说，也是格雷厄姆·格林对人性探讨的经典之作，写尽了人性的所有可能。真正了解人性的人，才知道始终坚持善良有多难得。

                                《安静的美国人》：格雷厄姆·格林政治小说代表作。入选《卫报》有史以来100部伟大小说。一部影响了几代美国人成长的文学巨作。本书是格林对政治、战争、爱情的探讨。如果你无法逃避你不喜欢的，那就试着去勇敢面对。

                                《我们在哈瓦那的人》：格雷厄姆·格林幽默小说代表作，入选美国推理作家协会百大推理小说。在这个荒诞的世界上，我们只需要忠于自己所爱的人。

                                《斯坦布尔列车》：格雷厄姆·格林成名作。通过描写列车上的一群乘客，展现一个时代的精神面貌。所有我热爱的却被你们怀疑的事，我都会倾尽全力去做。

                                《一个被出卖的杀手》：格雷厄姆·格林悬疑小说代表作。入选历史百大悬疑小说。这本书讲述了一个不断遭到出卖的人，渴望得到他人爱和信任的故事。我多希望能够完全地、彻底地信任你。

                                《恐怖部》：格雷厄姆·格林悬疑小说代表作。格林刻画了一个无孔不入的恐怖组织和一个身不由己的小人物。如果你觉得这个世界是假的，那就去寻找真相。

                                《密使》：格雷厄姆·格林悬疑小说代表作。《纽约时报》称这是 “一部华丽的杰作”。在这部书里读懂信任的宝贵。你永远不是孤身一人，因为总有人对你满怀信任。

                            </p>
                        </div>
                    </div>

                    <div class="card bg-light mb-3">
                        <div class="card-header">作者简介</div>
                        <div class="card-body">

                            <p class="card-text">
                                格雷厄姆・格林（Graham Greene，1904—1991）
                                21次诺贝尔文学奖提名的传奇大师。67年写作生涯，创作25多部小说，被评为20世纪大师级作家。1950年，初次获得诺贝尔奖提名。1976年，获美国推理作家协会大师奖。1981年，获耶路撒冷文学奖。1986年，由英女王伊丽莎白二世授予功绩勋章。

                                格林一生游历于墨西哥、西非、南非、越南、古巴、中东等战乱之地，甚至任职于英国军情六处，从事间谍工作，并以此为背景创作小说，关注人灵魂深处的挣扎与救赎、内心的道德和精神斗争，被誉为20世纪人类意识和焦虑的卓越记录者。

                                至今，每年格林生日期间，在格林出生地——英国赫特福德郡，都会举办为期四天的格雷厄姆·格林国际艺术节，世界各地的格林粉丝齐聚这里参加纪念格林的活动。
                            </p>
                        </div>
                    </div>

                    评论区。。。

                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 p-0 pl-1">
            <div class="card     shadow-sm">
                <div class="card-header bg-white">热门标签</div>
                <div class="card-body text-info">

                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>

                </div>
            </div>


        </div>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container p-0">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
</body>
</html>