<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布布-kindle电子书分享网站</title>
    <link rel="stylesheet" href="../resources/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../resources/artdialog-7.0.0/css/dialog.css">
    <link rel="stylesheet" href="../resources/mobi/css/mobi.css">
    <script src="../resources/jquery/jquery-1.10.2.js"></script>
    <script src="../resources/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
    <script src="../resources/mobi/js/mobi.js"></script>
    <script src="../resources/artdialog-7.0.0/js/dialog.js"></script>

</head>
<body class="body-bg-mobi">
<nav class="navbar fixed-top navbar-mobi shadow-sm">
    <div class="container">

        <ul class="nav">
            <a class="navbar-brand" href="#">布布</a>
            <li class="nav-item">
                <a class="nav-link active" href="#">排行榜</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">小说</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">经管</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">文学</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">社科</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">历史传记</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">英文原版</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">中英对照</a>
            </li>
        </ul>
    </div>

</nav>

<main role="main" class="container main-bar-fixed-top">
    <div class="row" >
        <div class="col-12 col-md-8 p-0">
            <div class="card mb-3 shadow-sm">
                <div class="card-header bg-white">编辑推荐</div>
                <div class="card-body p-0 pl-2" >

                    <div class="card img-thumbnail mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>
                    <div class="card img-thumbnail  mt-2 mr-2 float-left" style="width:170px; height:320px;">
                        <img src="../resources/mobi/images/1.jpg" style="width:160px; height:240px;display: inline;" class="card-img-top" alt="...">
                        <div class="card-body  p-0" style="font-size: 14px;">
                            <div class="font-weight-bol">培养男子汉</div>
                            <div class="text-black-50">作者：王二</div>
                            <div class="text-black-50">豆掰评分：4.5</div>
                        </div>
                    </div>

                </div>
                <button type="button" class="btn btn-outline-info m-4">浏览更多>></button>
            </div>
        </div>
        <div class="col-6 col-md-4 p-0 pl-1">
            <div class="card     shadow-sm">
                <div class="card-header bg-white">热门标签</div>
                <div class="card-body text-info">

                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>
                    <span class="badge badge-info">历史（1230）</span>

                </div>
            </div>


        </div>
    </div>

</main>
</body>
</html>