<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="code.com.bubu.lovestory.mapper.dao.LvwzBeanMapper">
  <resultMap id="BaseResultMap" type="code.com.bubu.lovestory.bean.LvwzBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wj_id" jdbcType="INTEGER" property="wjId" />
    <result column="bt" jdbcType="VARCHAR" property="bt" />
    <result column="ms" jdbcType="VARCHAR" property="ms" />
    <result column="fm" jdbcType="VARCHAR" property="fm" />
    <result column="wzzt" jdbcType="INTEGER" property="wzzt" />
    <result column="wzzs" jdbcType="INTEGER" property="wzzs" />
    <result column="ydsl" jdbcType="INTEGER" property="ydsl" />
    <result column="plsl" jdbcType="INTEGER" property="plsl" />
    <result column="xhsl" jdbcType="INTEGER" property="xhsl" />
    <result column="zssl" jdbcType="INTEGER" property="zssl" />
    <result column="fbsj" jdbcType="VARCHAR" property="fbsj" />
    <result column="wzxh" jdbcType="INTEGER" property="wzxh" />
    <result column="yh_id" jdbcType="INTEGER" property="yhId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="code.com.bubu.lovestory.bean.LvwzBean">
    <result column="nr" jdbcType="LONGVARCHAR" property="nr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wj_id, bt, ms, fm, wzzt, wzzs, ydsl, plsl, xhsl, zssl, fbsj, wzxh, yh_id
  </sql>
  <sql id="Blob_Column_List">
    nr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_lv_wz
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_lv_wz
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="code.com.bubu.lovestory.bean.LvwzBean">
    insert into t_lv_wz (id, wj_id, bt, 
      ms, fm, wzzt, wzzs, 
      ydsl, plsl, xhsl, zssl, 
      fbsj, wzxh, yh_id, nr
      )
    values (#{id,jdbcType=INTEGER}, #{wjId,jdbcType=INTEGER}, #{bt,jdbcType=VARCHAR}, 
      #{ms,jdbcType=VARCHAR}, #{fm,jdbcType=VARCHAR}, #{wzzt,jdbcType=INTEGER}, #{wzzs,jdbcType=INTEGER}, 
      #{ydsl,jdbcType=INTEGER}, #{plsl,jdbcType=INTEGER}, #{xhsl,jdbcType=INTEGER}, #{zssl,jdbcType=INTEGER}, 
      #{fbsj,jdbcType=VARCHAR}, #{wzxh,jdbcType=INTEGER}, #{yhId,jdbcType=INTEGER}, #{nr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="code.com.bubu.lovestory.bean.LvwzBean">
    insert into t_lv_wz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wjId != null">
        wj_id,
      </if>
      <if test="bt != null">
        bt,
      </if>
      <if test="ms != null">
        ms,
      </if>
      <if test="fm != null">
        fm,
      </if>
      <if test="wzzt != null">
        wzzt,
      </if>
      <if test="wzzs != null">
        wzzs,
      </if>
      <if test="ydsl != null">
        ydsl,
      </if>
      <if test="plsl != null">
        plsl,
      </if>
      <if test="xhsl != null">
        xhsl,
      </if>
      <if test="zssl != null">
        zssl,
      </if>
      <if test="fbsj != null">
        fbsj,
      </if>
      <if test="wzxh != null">
        wzxh,
      </if>
      <if test="yhId != null">
        yh_id,
      </if>
      <if test="nr != null">
        nr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wjId != null">
        #{wjId,jdbcType=INTEGER},
      </if>
      <if test="bt != null">
        #{bt,jdbcType=VARCHAR},
      </if>
      <if test="ms != null">
        #{ms,jdbcType=VARCHAR},
      </if>
      <if test="fm != null">
        #{fm,jdbcType=VARCHAR},
      </if>
      <if test="wzzt != null">
        #{wzzt,jdbcType=INTEGER},
      </if>
      <if test="wzzs != null">
        #{wzzs,jdbcType=INTEGER},
      </if>
      <if test="ydsl != null">
        #{ydsl,jdbcType=INTEGER},
      </if>
      <if test="plsl != null">
        #{plsl,jdbcType=INTEGER},
      </if>
      <if test="xhsl != null">
        #{xhsl,jdbcType=INTEGER},
      </if>
      <if test="zssl != null">
        #{zssl,jdbcType=INTEGER},
      </if>
      <if test="fbsj != null">
        #{fbsj,jdbcType=VARCHAR},
      </if>
      <if test="wzxh != null">
        #{wzxh,jdbcType=INTEGER},
      </if>
      <if test="yhId != null">
        #{yhId,jdbcType=INTEGER},
      </if>
      <if test="nr != null">
        #{nr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="code.com.bubu.lovestory.bean.LvwzBean">
    update t_lv_wz
    <set>
      <if test="wjId != null">
        wj_id = #{wjId,jdbcType=INTEGER},
      </if>
      <if test="bt != null">
        bt = #{bt,jdbcType=VARCHAR},
      </if>
      <if test="ms != null">
        ms = #{ms,jdbcType=VARCHAR},
      </if>
      <if test="fm != null">
        fm = #{fm,jdbcType=VARCHAR},
      </if>
      <if test="wzzt != null">
        wzzt = #{wzzt,jdbcType=INTEGER},
      </if>
      <if test="wzzs != null">
        wzzs = #{wzzs,jdbcType=INTEGER},
      </if>
      <if test="ydsl != null">
        ydsl = #{ydsl,jdbcType=INTEGER},
      </if>
      <if test="plsl != null">
        plsl = #{plsl,jdbcType=INTEGER},
      </if>
      <if test="xhsl != null">
        xhsl = #{xhsl,jdbcType=INTEGER},
      </if>
      <if test="zssl != null">
        zssl = #{zssl,jdbcType=INTEGER},
      </if>
      <if test="fbsj != null">
        fbsj = #{fbsj,jdbcType=VARCHAR},
      </if>
      <if test="wzxh != null">
        wzxh = #{wzxh,jdbcType=INTEGER},
      </if>
      <if test="yhId != null">
        yh_id = #{yhId,jdbcType=INTEGER},
      </if>
      <if test="nr != null">
        nr = #{nr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="code.com.bubu.lovestory.bean.LvwzBean">
    update t_lv_wz
    set wj_id = #{wjId,jdbcType=INTEGER},
      bt = #{bt,jdbcType=VARCHAR},
      ms = #{ms,jdbcType=VARCHAR},
      fm = #{fm,jdbcType=VARCHAR},
      wzzt = #{wzzt,jdbcType=INTEGER},
      wzzs = #{wzzs,jdbcType=INTEGER},
      ydsl = #{ydsl,jdbcType=INTEGER},
      plsl = #{plsl,jdbcType=INTEGER},
      xhsl = #{xhsl,jdbcType=INTEGER},
      zssl = #{zssl,jdbcType=INTEGER},
      fbsj = #{fbsj,jdbcType=VARCHAR},
      wzxh = #{wzxh,jdbcType=INTEGER},
      yh_id = #{yhId,jdbcType=INTEGER},
      nr = #{nr,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="code.com.bubu.lovestory.bean.LvwzBean">
    update t_lv_wz
    set wj_id = #{wjId,jdbcType=INTEGER},
      bt = #{bt,jdbcType=VARCHAR},
      ms = #{ms,jdbcType=VARCHAR},
      fm = #{fm,jdbcType=VARCHAR},
      wzzt = #{wzzt,jdbcType=INTEGER},
      wzzs = #{wzzs,jdbcType=INTEGER},
      ydsl = #{ydsl,jdbcType=INTEGER},
      plsl = #{plsl,jdbcType=INTEGER},
      xhsl = #{xhsl,jdbcType=INTEGER},
      zssl = #{zssl,jdbcType=INTEGER},
      fbsj = #{fbsj,jdbcType=VARCHAR},
      wzxh = #{wzxh,jdbcType=INTEGER},
      yh_id = #{yhId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>