<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布布-kindle电子书分享网站管理平台</title>
    <link rel="stylesheet" href="../../resources/jquery-easyui-1.8.2/themes/material-teal/easyui.css">
    <link rel="stylesheet" href="../../resources/jquery-easyui-1.8.2/themes/icon.css">
    <script src="../../resources/jquery-easyui-1.8.2/jquery.min.js"></script>
    <script src="../../resources/jquery-easyui-1.8.2/jquery.easyui.min.js"></script>
    <script src="../../resources/jquery-easyui-1.8.2/locale/easyui-lang-zh_CN.js"></script>
</head>
<body class="easyui-layout">

</body>
</html>