<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布布-kindle电子书分享网站管理平台</title>
    <link rel="stylesheet" href="../mobi/static/jquery-easyui-1.8.2/themes/material-teal/easyui.css">
    <link rel="stylesheet" href="../mobi/static/jquery-easyui-1.8.2/themes/icon.css">
    <script src="../mobi/static/jquery-easyui-1.8.2/jquery.min.js"></script>
    <script src="../mobi/static/jquery-easyui-1.8.2/jquery.easyui.min.js"></script>
    <script src="../mobi/static/jquery-easyui-1.8.2/locale/easyui-lang-zh_CN.js"></script>
    <script src="../mobi/static/mobi/js/manager.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height:70px">
        布布-kindle电子书分享网站管理平台
    </div>
    <div data-options="region:'west'" style="width:260px;">
        <div id="sm" style="width:260px;" data-options="border:false"></div>
    </div>
    <div id="menu" data-options="region:'center',border:false" >

    </div>
</body>
</html>