<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布布-kindle电子书分享网站管理平台</title>
    <link rel="stylesheet" href="../mobi/static/jquery-easyui-1.8.2/themes/material-teal/easyui.css">
    <link rel="stylesheet" href="../mobi/static/jquery-easyui-1.8.2/themes/icon.css">
    <script src="../mobi/static/jquery-easyui-1.8.2/jquery.min.js"></script>
    <script src="../mobi/static/jquery-easyui-1.8.2/jquery.easyui.min.js"></script>
    <script src="../mobi/static/jquery-easyui-1.8.2/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
    <table id="dg" title="用户管理" class="easyui-datagrid"
           url="get_users.php"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true" data-options="fit:true,border:false">
        <thead>
        <tr>
            <th field="firstname" width="50">First Name</th>
            <th field="lastname" width="50">Last Name</th>
            <th field="phone" width="50">Phone</th>
            <th field="email" width="50">Email</th>
        </tr>
        </thead>
    </table>
</body>
</html>